@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Outfit/Outfit-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Outfit/Outfit-Medium.ttf.ttf") format("truetype");
  }

  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Outfit/Outfit-SemiBold.ttf.ttf") format("truetype");
  }
}
