@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Outfit/Outfit-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Outfit/Outfit-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Outfit/Outfit-SemiBold.ttf") format("truetype");
  }
}

.see-all-members-tile {
  @apply sm:col-start-1 sm:col-end-2 sm:row-start-4 sm:row-end-5 lg:row-start-3 lg:row-end-4 xl:row-start-2 xl:row-end-3;
}

